/*
 * Override Bootstrap's default container.
 */

.glyphicon { font-size: 150%; }
.glyphicon-menu-left { font-size: 250%; }


/*
 * Masthead for nav
 */

.blog-menu {
    height: auto;
    width: 100%;
}


/* Nav links */
.blog-nav{
    padding-top: 10%;
}

.drawer{
    position: fixed; /* Stay in place */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1;

    top: 0;

    margin-left: -3%;
    padding-top: 5%;
    padding-bottom: 5%;

    overflow-x: hidden; /* hidden scroll */
    overflow-y: hidden; /* hidden scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    border-right: 1px inset;
}

.blog-nav-mobile:hover{
    width: 100%
}

.blog-nav-item {
    font-size: 85%;
    font-family: Consolas;

    padding: 10px;
    color: #a5a5a5;
}



.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #727272;
    text-decoration: none;
}


.blog-nav-item-mobile {
    text-decoration: none;
    font-size: 2em;
    padding-left: 15%;
    font-family: Consolas;

    color: #a5a5a5;
}


/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

.img_logo {
    padding: 5% 2%;
}
.img_logo_mobile {
    padding: 0% 5% 0% 10%;
}

.button-exit-menu{
    position:absolute;
    bottom:-1%;
    right: 1%;
    top: inherit;

    padding: 10%;
}
.background-menu-mobile{
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;

}


