.footer{
    display: inline-flex;
    align-items: center;
    width: 100%;

    padding: 5px;
    padding-left: 15px;
    padding-right: 9%;

    background-color: #3F3F3F;
    border: 1px solid #a0a0a0;
}

.title-footer{
    flex-grow: 8;
    color: #e5e4e4;
}

.icons-footer{
    flex-grow: 0;
}

.icon-footer{
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 30px;
}